# Carthage
BayAreaCommute/Carthage/*

# Fastlane
BayAreaCommute/fastlane/*

# Other
BayAreaCommute/BayAreaCommute.xcodeproj/project.xcworkspace/xcuserdata/*
BayAreaCommute/BayAreaCommute.xcodeproj/xcuserdata/*
BayAreaCommute/BayAreaCommute.xcodeproj/xcshareddata/*
BayAreaCommute/Provisioning_Profiles/*
BayAreaCommute/BayAreaCommute.ipa
BayAreaCommute/BayAreaCommute.app.dSYM.zip
